.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  color:gold;
}
.h2 {
  color:gold;
}

body .bg-dark{
  background-color: #000000! important;
  margin-bottom: 100px ;
  box-shadow: 100px 10px 5px 0px rgba(0,0,0,0.75);
}
.jumbotron-fluid {
  background-repeat:no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
  background-color: black;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.jumbotron h1, p{
  padding:50px;
}
/*CSS*/
div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
.container-fluid{
  position: relative;
  text-align: center;
  color:#914875;
}
div .img-overlay{
  position:absolute;
  top: 8px;
  right: 16px;
}

.container{
  margin: 1rem 2rem;
}
.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
  gap: 1rem;
}
.card {
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.75);
  transform-style: preserve-3d;
  height: 600px;
  width: 600px;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  cursor: pointer;
}

.card.flip {
  --translate-y: -4px;
  --rotate-y: 180deg;
}

.card:hover {
  box-shadow: 0 0 px 2px rgba(0, 0, 0, 0.5);
}

.card .front,
.card .back {
  position: absolute;
  padding: 15rem;
  backface-visibility: hidden;
} 
.card .back {
  transform: rotateY(180deg);
}
h3 .justify-content-center{
  margin-top: 2px;
}
h4 .justify-content-center{
  margin-Top: 10px;
}
p .justify-content-center{
  margin-Top: 20px;

}
