
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: black ;
  color: gold;
  font-family: 'Poiret One', cursive;
}
p {
  color: #914875;
  font-size: 18px;
}
.success-msg {
  color: 57A 7223px;
  padding: 10px 15px;
}
.err-msg {color:red;
  padding: 20px 15px;
}

/*CSS*/
div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
.card-body{
  margin: 20px;
  box-shadow: 0px opx 3px 1px rgba(0,0,0,0.75);
}
#contact-form {
  align-items: left;
}
#contact-form .label{
  align-items: left;
}

form {
  width: 0%;
  padding-left: 350px;
}
form label{
  text-align: left;
  margin: 0px;
}
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid var(--dark);
  outline: solid gold;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width:800px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 800px;
  height: 120px;
  border: 3px solid gold;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 800px;
}

.space-between {
  justify-content: space-between;
}
button {
  background-color: #C49E93;
  border:#914875;
  color:gold;
  border-radius: 25px;

}
.developer{
  box-shadow:  0 0 8px 4px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  margin-left: 0px;
}